<style type="text/css">
  @charset "UTF-8";
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:800px;
}
html {
  /*margin-top: 0px;*/
  background-color:rgba(200,63,63,0.0);
}
#background-blend {
  height:100%;
  /*background:linear-gradient(183deg, rgba(255,255,255,0.0) 67%, rgba(255,255,255,0.15) 100%);*/
}

/*||==========||==========| The Coffee Cup |==========||==========||*/

#container { 
  width:400px; 
  margin:0 auto; 
  position:relative;
  padding-top:250px;
  zoom: 0.25;
  -moz-transform: scale(0.25);

}
.background {
  background:rgba(200,63,33,0.0);
}

#cup { 
  width: 300px; 
  height:400px; 
  background:linear-gradient(160deg, rgba(0,0,0,0.0) 5%, rgba(86,103,134,0.2) 75%, rgba(86,103,134,0.25)), linear-gradient(90deg, #f3edcd, #ebdfc4 5%, #f3edcd 22%, #f3edcd 37%, #d2c493 90%, #9caa7f); 
  padding-top:0;
  border-bottom-left-radius:50% 22%; 
  border-bottom-right-radius:50% 22%;
}
#shadow {
  position:absolute;
  background:rgba(10,20,66,0.3);
  box-shadow: 120px 10px 50px rgba(10,20,30,0.4);
  width: 200px; 
  height:100px; 
  top:543px;
  left:85px;
  border-radius:50%;
  z-index:-100;
  transform:rotate(-20deg);
}
#top {
  width:300px; 
  height:120px; 
  border-radius: 50%; 
  background-color:#ebdfc4; 
  position:absolute;
  top:190px;
  left:0;
}
#rim {
  background:linear-gradient(90deg, #a8a779, #dbd2be 75%, #dbd2be 80%, #c4c9ab); 
  border-radius:50%;
  width:260px;
  height:100px;
  margin:10px 20px;
  overflow:hidden;  
}
#coffee {
  width:260px;
  height:94px;
  border-radius:50%;
  margin-top:25px;
  background:linear-gradient(12deg, #201a14 50%, #5E4916 50.1%, #322211);
  border-right:#fff solid 2px;
  padding-top:6px;
}

#handle {
  width:200px;
  height:250px;
  background:linear-gradient(210deg, #fff 5%, #dbd2be 15%, #98a2b4);
  border-radius:45% 35% 50% 0;
  position:absolute;
  left:180px;
  top:280px;
  z-index:-99;  
}
#handleTwo {
  width:200px;
  height:250px;
  background:linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.25)50%, rgba(0,0,0,0.3));
  border-radius:0 35% 50% 0;
  position:absolute;
  left:180px;
  top:280px;
  z-index:-98;  
}
#handleHole {
  width:100px;
  height:150px;
  position:absolute;
  left:215px;
  top:331px;
  z-index:-50;
  border-radius:100% 0% 60% 0;
}
#handleSide{
  width:200px;
  height:185px;
  background-color:#d2c493;
  background:linear-gradient(125deg, rgba(0,0,0,0.0) 67%, rgba(50,50,127,0.3)), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0)), #d2c493;
  border-radius: 85% 15% 50% 0;
  position: absolute;
  left:160px;
  top:330px;
  z-index: -98;
}

.smoke {
  background:linear-gradient(0deg, rgba(255,255,255,0.0)5%, rgba(255,255,255,0.04)12%, rgba(255,255,255,0.04)100%)
}
@keyframes roll {
  0% {
    border-radius:90% 0 100% 0;
    left:110px;
  }
  50% {
    border-radius:0 100% 0 90%;
    left:140px;
  }
  100% {
    border-radius:90% 0 100% 0;
    left:110px;
  }
}
#steam {
  position:absolute;
  top:-300px;
  left:110px;
  width:50px;
  height: 600px;
  border-radius:0 0 90% 0;
  animation-name: roll;
  animation-duration: 11s;
  animation-iteration-count:infinite;
}
@keyframes roll2 {
  0% {
    border-radius:0 100% 0 90%;
    left:75px;
  }
  50% {
    border-radius:90% 0 100% 0;
    left:125px;
  }
  100% {
    border-radius:0 100% 0 90%;
    left:75px;
  }
}
#steam2 {
  position:absolute;
  top:-300px;
  left:75px;
  width:100px;
  height: 600px;
  border-radius:0 0 90% 0;
  animation-name: roll2;
  animation-duration: 17s;
  animation-iteration-count:infinite;
}
@keyframes fade {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.9;
  }
}
#fade {
  position:absolute;
  z-index:99;
  top:0px;
  left:0;
  width:100%;
  height:200px;
  background:linear-gradient(rgba(200,63,33,0.0), rgba(200,66,33,0.0));
  animation-name: fade;
  animation-duration: 10s;
  animation-iteration-count:infinite;
}
#bubble {
  width:8px;
  height:8px;
  border-radius:5% 70%;
  border:#d3cab5 solid 1px;
  position:absolute;
  top:225px;
  left:200px;
  transform:rotate(-34deg);
  background-color:rgba(96,78,40,0.86);
}
#bubble2 {
  width:6px;
  height:6px;
  border-radius:30% 70% 5%;
  border:#d3cab5 solid 1px;
  position:absolute;
  top:227px;
  left:209px;
  transform:rotate(-34deg);
  background-color:rgba(96,78,40,0.86);
}


/*||==========||==========| Page Content |==========||==========||*/

#layer2 {
  position:absolute;
  border:#000 solid 1px;
  z-index:100;
}
</style>

<div id="background-blend">
<div id="container">
  <div id="cup"></div>
  <div id="shadow"></div>
  <div id="top">
    <div id="rim">
      <div id="coffee"></div>
    </div>
  </div>
  <div id="handle"></div>
  <div id="handleTwo"></div>
  <div id="handleSide"></div>
  <div class="background" id="handleHole"></div>

  <div id="steam" class="smoke"></div>
  <div id="steam2" class="smoke"></div>
  <div id="fade"></div>

  <div id="bubble"></div>
  <div id="bubble2"></div>
    </div></div>
