<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <p>Location: Boulder, CO</p>
        <!-- <p>Phone: {{ contact.phone }}</p> -->
        <p>Instagram: <a href="https://instagram.com/johnkeller101">@johnkeller101</a></p>
        <p>Email: <a href="mailto:contact@johnkeller101.com">contact@johnkeller101.com</a></p>
      </div>
      <div class="col-md-6">
        <img src="assets/img/contact.jpg" alt="Contact" width="100%">
      </div>
    </div>
  </div>
</div>
