<hr>
<p>A big thank you to our sponsors:</p>
<style type="text/css">{% include bootstrap-table.css %}
.row {
	display:flex;
    align-items:center;
}
</style>

<div class="row">
	<div class="col-sm-4"><a href="https://vafels.com/"><img src="/assets/images/sponsors/vafels.png" style="width: 100%;"></a></div>
	<div class="col-sm-4"><a href="https://www.skratchlabs.com/"><img src="/assets/images/sponsors/skratchlabs.png" style="width: 100%;"></a></div>
	<div class="col-sm-4"><a href="https://www.bellhelmets.com/"><img src="/assets/images/sponsors/bellhelmets.png" style="width: 100%;"></a></div>
</div>
<div class="row">
	<div class="col-sm-4"><a href="https://pandanausa.com/"><img src="/assets/images/sponsors/pandana.png" style="width: 100%;"></a></div>
	<div class="col-sm-4"><a href="https://www.panachecyclewear.com/"><img src="/assets/images/sponsors/panache.png" style="width: 100%;"></a></div>
	<div class="col-sm-4"><a href="http://www.bouldercyclesport.com/"><img src="/assets/images/sponsors/bcs.png" style="width: 100%;"></a></div>
</div>