---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p style="float: left;"><a href="https://www.instagram.com/johnkeller101/"><img src="/assets/images/instagram.svg" alt="instagram" style="height: 50px; padding: 5px;"></a><a href="https://www.strava.com/athletes/15453860"><img src="/assets/images/strava.svg" alt="strava" style="height: 50px; padding: 5px;"></a></p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}