---
layout: default
current: page
class: page-template
disqus: false
---

<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<!-- css info to change header height based on what is set in page guidelines -->
{% if page.cover-height > 300 %}
<style>
.post-full-image {
    height: {{ page.cover-height }}px !important;
}
</style>
{% endif %}
<!-- #post -->

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} {% unless page.cover %}no-image{% endunless %}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{ page.title }}</h1>
            </header>

            {% if page.cover %}



            <!-- <figure class="post-full-image" style="background-image: url({{ site.baseurl }}{{ page.cover }})">
            </figure> -->
            <figure class="post-full-image" >
                <iframe frameborder="0" height="100%" width="100%" 
                src="https://youtube.com/embed/jY37VFfz6Ic?autoplay=1&controls=0&showinfo=0&autohide=1">
              </iframe>
            </figure>
            {% endif %}

            <section class="post-full-content">
                {{ content }}
            </section>

        </article>

    </div>
</main>

<!-- /post -->

{% include page-scripts.html %}
