---
layout: default
current: page
class: page-template
---

{% assign page.title = page.tag | capitalize %}

<!-- default -->
<!-- The tag above means - insert everything in this file into the {body} of the default.hbs template -->

<!-- The big featured header, it uses blog cover image as a BG if available -->
<header class="site-header outer">
    <div class="inner">
        {% include site-nav.html %}
    </div>
</header>

<style>
.post-full-image {
    {% if page.tag == "cycling" %}
    height: 600px !important;
    {% else %}
    height: 400px !important;
    {% endif %}
}
.post-full-content {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}
.home-template .site-nav {
    top: 0px !important;
}
</style>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full {{ page.subclass }} post">

            <header class="post-full-header">
                <h1 class="post-full-title" style="text-transform: capitalize;">{{ page.tag | capitalize }}</h1>
            </header>

            {% if page.tag == "cycling" %}
            <figure class="post-full-image" style="background-image: url('/assets/images/ttt-cu.jpg');"></figure>
            {% elsif page.tag == "portfolio"%}
            <figure class="post-full-image" style="background-image: url('/assets/images/app_banner.jpg');"></figure>
            {% elsif page.tag == "portfolio"%}
            {% endif %}

            {% if page.tag == "cycling" or page.tag == "portfolio" %}
            <section class="post-full-content">
                {% capture my_include %}{% include {{ page.tag }}.md %}{% endcapture %}
                {{ my_include | markdownify }}
            </section>
            {% endif %}
         </article>

        <div class="post-feed" style="margin-top: 10px; !important">
            <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
            {%  include post-card-tag.html %}
        </div>
    </div>
</main>

